
body{
  background-color: #f5f5dc;
    }
p{
  font-family: cursive;
  background-color: #f5f5dc
}
ul{
  font-family: cursive;
}
h1{
  font-family: fantasy;
  font-size: 26px
}
h2{
  font-family: fantasy;
}
